* {
    margin: 0;
    padding: 0;
    font-family: 'Days One', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
}

:root {
    --black: #313637;
    --white: #F0EFF2;
    --red: #F96A6A;
    --orange: #FFAC93;
}

body {
    background-color: var(--white);
}
#logo {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: 0.5rem;
    font-weight: 600;
}
.navItem {
    color: var(--red);
    font-size: 1.1rem;
    padding: 1rem 1rem;
    transition: 1s ease;
}
a {
    text-decoration: none;
}
.active {
    color: var(--black);
    font-size: 1.15rem;
    transition: 1s ease;
}

/* *************** MOBILE *************** */
header {
    background-color: var(--white);
    padding: 1rem 1rem;
    box-shadow: 0px 1px 5px #777777;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}
section {
    padding: 2rem;
}
/* *********** HOME ********** */
#home {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding-top: 30vh;
}
.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3rem;
}
#homeText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#homeText h2,
#homeText p {
    text-align: center;
}
#homeText h2 {
    font-size: 2rem;
    color: var(--black);
}
#homeText p {
    color: var(--red);
    font-size: 1.25rem;
    width: 18ch;
}
#homeAnimation {
    color: var(--orange);
    font-size: 1.1rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
            animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
            animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
            animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: var(--black);
}

.chevron:before {
    left: 0;
    transform: skewY(30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

@keyframes move-chevron {
    25% {
        opacity: 1;
    }
    33.3% {
        opacity: 1;
        transform: translateY(2.28rem);
    }
    66.6% {
        opacity: 1;
        transform: translateY(3.12rem);
    }
    100% {
        opacity: 0;
        transform: translateY(4.8rem) scale(0.5);
    }
}

/* *********** ENTER ZONE ********** */
.enteringBox {
    background-color: var(--orange);
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.enteringBox h4 {
    font-size: 1rem;
}
#enterAnimation {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#enterTitle {
    text-align: center;
    padding: 0 1rem;
    font-size: 1.75rem;
}
.enterSymbol {
    font-size: 2rem;
    -webkit-text-stroke: 1px var(--black);
    color: transparent;
}
/* *********** SECTION DESCRIPTION ********** */
.sectionDescription {
    padding-bottom: 2rem;
}
.sectionTitle-white {
    -webkit-text-stroke: 1px var(--white);
    color: transparent;
    font-size: 3rem;
}
.sectionTitle-black {
    -webkit-text-stroke: 1px var(--black);
    color: transparent;
    font-size: 3rem;
}
.sectionText {
    color: var(--white);
}

/* *********** PROJECTS ********** */
#projects {
    background-color: var(--black);
}
#projectHolder {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 3rem;
}
#projectContainer {
    border: solid 1px var(--white);
    width: 100%;
    height: auto;

}
.projectImage {
    padding: 0.5rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectImage img {
    width: 100%;
    height: auto;
}
.projectDescription {
    background-color: var(--white);
    padding: 0.5rem;
    color: var(--black);
}
.projectDescription h3 {
    font-size: 1.25rem;
    padding-bottom: 0.2rem;
    color: var(--red);
}

/* project tags */
.tags {
    padding-top: 0.75rem;
    padding-bottom: 0.25rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.tag {
    padding: 0.5rem 0.75rem;
    background-color: var(--orange);
    display: inline-block;
    border-radius: 1rem;
    font-size: 0.75rem;
    transition: 0.5s ease-in-out;
}
.tag:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}
.tag-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.75rem;
}
.video {
    background-color: #FFB833;
}
.motion {
    background-color: #8AFC7D;
}
.illustration {
    background-color: #7DE1FC;
}
.html {
    background-color: #C87DFC;
}
.javascript {
    background-color: #FC7DB3;
}

/* *********** ABOUT ********** */
#about {
    background-color: var(--white);
    height: auto;
}
#about .sectionDescription p {
    padding-bottom: 1rem;
    color: var(--black);
}
#aboutAnimation {
    width: 100%;
    background-color: var(--black);
    margin-left: auto;
    margin-right: auto;
    padding: 0rem 0.25rem;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    overflow: hidden;
}
.title {
    font-size: 2rem;
    color: var(--white);
    text-align: center;
}
.animations {
    background-color: var(--white);
    height: 12rem;
    width: 100%;
}
#aboutAnimation .mainText {
    color: var(--white);
    padding: 0.3rem;
}
.videoGames {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.videoGames iframe {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* *********** CONNECT ********** */
#connect {
    background-color: var(--black);
    height: 60vh;
}
#connect h3 {
    font-size: 1.5rem;
    color: var(--red);
}
